* {
  font-family: "Kanit", sans-serif, "Rock Salt", cursive, "Times New Roman";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: static;
}

h1 {
  color: rebeccapurple;
}
ul {
  list-style: none;
}
.future-weather {
  display: flex;
  flex-direction: row;
}
