* {
  font-family: "Kanit", sans-serif, "Rock Salt", cursive, "Times New Roman";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: static;
}

form {
  display: inline-block;
}

.head {
  margin-top: 13px;
}

.head {
  margin-top: 13px;
}

#search {
  background: rgb(85, 91, 94);
  border-color: rgb(43, 99, 127, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  color: rgb(210, 219, 222);
  margin-right: 5px;
  margin-left: 3px;
}

#button {
  background: rgb(85, 91, 94);
  box-shadow: 1px 1px 20px 1px rgb(5, 9, 13, 0.4);
  border-color: rgb(43, 99, 127, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: left;
  color: rgb(210, 219, 222);
}

.enter-city {
  width: 200px;
  height: 30px;
  background: rgb(85, 91, 94);
  box-shadow: 1px 1px 20px 1px rgb(5, 9, 13, 0.4);
  border-color: rgb(43, 99, 127, 0.1);
  font-size: 25px;
  float: left;
  color: rgb(210, 219, 222);
  padding-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.enter-city {
  width: 293px;
}

.main {
  max-height: 150px;
  color: rgb(210, 219, 222);
}

.weather {
  max-width: 600px;
  min-width: 600px;
  display: block;
  border: 1px solid;
  border-radius: 3px;
  margin: auto;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(45, 53, 56);
  box-shadow: 1px 1px 20px 1px rgb(5, 9, 13, 0.9);
}

#city {
  font-size: 40px;
}

#icon {
  width: 75px;
}

.degree {
  position: relative;
  margin: 0 30px 0 30px;
  top: -50%;
  left: 15%;
  font-weight: 300;
  font-size: 57px;
}

#value {
  font-size: 20px;
  top: -10%;
}

.info {
  position: relative;
  top: -129%;
  left: 50%;
}

#date {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
  color: rgb(182, 194, 201);
}

.day-of-week {
  position: relative;
  animation-name: show-text;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}

@keyframes show-text {
  0% {
    bottom: -130%;
    opacity: 0%;
  }
  70% {
    opacity: 100%;
  }
  100% {
    bottom: 0%;
  }
}

.future-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-left: 5px;
}

.day {
  border: 0.1px solid;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: -70px;
  background-color: rgb(85, 91, 94);
  box-shadow: 1px 1px 20px 1px rgb(5, 9, 13, 0.4);
  border-color: rgb(43, 99, 127, 0.1);
  transition: all 200ms ease-in-out;
  text-align: center;
}

.day:hover {
  background-color: rgb(57, 66, 70);
  transform: scale(1.1);
}

.other-color {
  background-color: rgb(73, 78, 80);
}

.name-of-day {
  font-size: 20px;
}

.for-hover {
  text-decoration: none;
  cursor: default;
  color: rgb(210, 219, 222);
  transition: all 200ms ease-in-out;
}

.for-hover:hover {
  text-decoration: none;
  color: rgb(161, 167, 170);
}

p {
  position: absolute;
  margin-top: 30px;
  margin-left: 210px;
}
a {
  text-decoration: none;
}
