* {
  font-family: "Kanit", sans-serif, "Rock Salt", cursive, "Times New Roman";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: static;
}

form {
  display: inline-block;
}

.head {
  margin-top: 13px;
}

.enter-city {
  width: 300px;
}

.main {
  max-height: 150px;
}

.weather {
  min-width: 20px;
  min-height: 20px;
  max-width: 700px;
  display: block;
  border: 1px solid;
  border-radius: 3px;
  margin: auto;
  margin-top: 10px;
  padding: 10px 20px;
}

#city {
  font-size: 40px;
}

#icon {
  width: 75px;
}

.degree {
  position: relative;
  margin: 0 30px 0 30px;
  top: -50%;
  left: 15%;
  font-weight: 300;
  font-size: 57px;
}

#value {
  font-size: 20px;
  top: -10%;
}

.info {
  position: relative;
  top: -129%;
  left: 50%;
}

#date {
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

.future-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
  color: black;
}

p {
  position: relative;
  margin-top: 10px;
  left: 48.5%;
}
